@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lilita+One&display=swap");
body {
  margin: 0%;
  padding: 0%;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.top * {
  font-family: Nunito, sans-serif;
}
.top {
  margin: 0px 0px 40px 0px;
}
.top .text-blk {
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.top a {
  text-decoration-line: none;
}

.top .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.top .responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-image: linear-gradient(#a9d6ea, rgba(230, 243, 249, 0));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.top .responsive-container-block.Container {
  max-width: 1320px;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 170px;
  padding-left: 0px;
}

.top .text-blk.heading {
  font-size: 25px;
  line-height: 30px;
  color: #059ce1;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.top .text-blk.subHeading {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.top .leftSide {
  width: 50%;
  z-index: 50;
}

.top .contactUs {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 17px;
  padding-right: 50px;
  padding-bottom: 17px;
  padding-left: 50px;
  color: white;
  background-color: #059ce1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top .contactUs:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #05baf5;
}

.top .text-blk.orBetween {
  font-size: 22px;
  color: #818181;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.top .text-blk.tollFree {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
}

.top .text-blk.phoneNumber {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #059ce1;
}

.top .lastRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.top .phoneBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top .icon {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 35px;
  height: 35px;
}

.top .phoneDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.top .mainImg {
  width: 56%;
  height: 85%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.top .afterOR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .top .text-blk.subHeading {
    font-size: 55px;
    line-height: 65px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  .top .contactUs {
    margin: 0 0 25px 0;
  }

  .top .lastRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .top .text-blk.orBetween {
    margin: 0 25px 0 0;
  }

  .top .leftSide {
    width: 80%;
  }

  .top .responsive-container-block.Container {
    padding: 0 0 300px 0;
  }

  .top .mainImg {
    height: 70%;
    width: 65%;
  }
}

@media (max-width: 768px) {
  .top .mainImg {
    position: static;
    height: 350px;
    width: 80%;
  }

  .top .responsive-container-block.Container {
    padding: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
  }

  .top .leftSide {
    width: 100%;
    margin: 0 0 50px 0;
  }

  .top .text-blk.subHeading {
    font-size: 47px;
    line-height: 60px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
}

@media (max-width: 500px) {
  .top .text-blk.orBetween {
    margin: 10px 25px 10px 0;
  }

  .top .responsive-container-block.bigContainer {
    padding: 10px 20px 10px 20px;
  }

  .top .text-blk.heading {
    font-size: 15px;
    line-height: 20px;
  }

  .top .text-blk.subHeading {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 20px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  .top .leftSide {
    width: 100%;
  }
  .top .afterOR {
    flex-wrap: wrap;
  }

  .top .mainImg {
    width: 100%;
    height: 250px;
  }
}
#form1,
#form2 {
  margin: 30px 10px 10px 10px;
}
.user_name_form1 {
  color: blue;
  text-transform: capitalize;
}
.create_user_id {
  color: blue;
}
.details_box {
  margin: 40px 10px 10px 10px;
}
.cap {
  text-transform: capitalize;
}
